# Python bytecode cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (local setup)
env/
venv/
ENV/

# YOLO pre-trained weight downloads
*.pt
# Force git to track your pre-trained model weights
!models/pretrained/best.pt

# Output folders for training runs
trained_models/*
!trained_models/.gitkeep
runs/

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
